.mainTitle {
    font-family: 'Mate SC';
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: #f39189;
    padding-top: 1.5rem;
}

@media(min-width:900px) {
    .mainBody {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.card {
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 2rem; 
    text-align: justify;
    border: solid 3px #FFDCB8;
    box-shadow: 0 0 10px 4px #FFDCB8 ;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem; 
}

.cardTitle {
    font-family: 'Mate SC';
    font-size: 2rem;
    color: #BB8082;
}

.cardButton {
    background-color: #f39189;
    color: white;
}